{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Carga de CDs | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
Cargar CDs
{% endblock %}

<!-- Subtitulo del header -->
{% block subtitulo %} 
Ingrese datos del CD
{% endblock %}

<!-- Formulario 
{% block formulario %}			
<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <form action="/blogbuster/cargardatoscds/" method="POST"> {% csrf_token %}
            <p>Nombre: <input type="text" name="nombre"></p>
            <p>Artista: <input type="text" name="artista"></p>
            <p>Año de lanzamiento: <input type="text" name="anioLanzamiento"></p>
            <p>Género: <input type="text" name="genero"></p>
            <input type="submit" value="Cargar">
        </form>
{% endblock %}
-->

{{form2}}